<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>
<div th:fragment="footer">
<div class="col-md-12" style="height: 20px;"></div>

  <div class="col-md-2">
  </div>
   <div class="col-md-12" style="height: 20px;"></div>
   <div class="row">
   <div class="col-md-12 nasikliencibox">
		<div class="nasiklienci">NASI KLIENCI
		</div>
		
		<div>	
			<img th:src="@{/img/backg2m.png}" alt="..." class="img-circle circlesize"></img>
			<img th:src="@{/img/backg2m.png}" alt="..." class="img-circle circlesize"></img>
			<img th:src="@{/img/backg2m.png}" alt="..." class="img-circle circlesize"></img>
   		<img th:src="@{/img/backg2m.png}" alt="..." class="img-circle circlesize"></img>
   		<img th:src="@{/img/backg2m.png}" alt="..." class="img-circle circlesize"></img>
  		</div>
		
   </div>
   </div>

   <div class="col-md-12" style="height: 20px;"></div>
   <div class="row social-media">
   <div class="col-md-1">
  	
		<img th:src="@{/img/olx.jpeg}" alt="..." class="img-circle circlesize2" ></img>
		<img th:src="@{/img/yt.png}" alt="..." class="img-circle circlesize2"></img>
		<img th:src="@{/img/fb.png}" alt="..." class="img-circle circlesize2"></img>
   	<img th:src="@{/img/allegro.png}" alt="..." class="img-circle circlesize2"></img>
	</div> 	
 	
  <div class="col-md-3">
    
       <p>KONTAKT:</p>
  </div>
 
  <div class="col-md-3 ">
     
       <p>INFORMACJE:</p>
  </div>



<div class="col-md-12" style="height: 20px;"></div>
</div>
</div>
</body>
</html>