<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
	<link href="../static/css/custommenu.css" th:href="@{/css/custommenu.css}" rel="stylesheet"/>
	<link href="../static/css/preloader.css" th:href="@{/css/preloader.css}" rel="stylesheet"/>	
	<link rel="stylesheet" type="text/css" media="screen" href="../static/css/banner.css" th:href="@{/css/banner.css}" />
</head>
<body>
</body>
</html>