<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">

    <title>Iron Altar Produkty</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
    <h2>Szczegóły produktów</h2>
        <div class="row">

                <div class="col-md-8">


            <form class="form-horizontal">

                 <div class="form-group">
                    <label class="col-sm-2 control-label">Marka produktu:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${product.brand}">Marka produktu</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Opis:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${product.description}">opis</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Cena:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${product.price}">Cena</p>
                    </div>
                </div>



            </form>
                </div>


            <div class="col-md-4">
                <img class="img-circle img-responsive" src="${product.imageUrl}+${product.imageName}"
                     th:src="${product.imageUrl}+${product.imageName}"/>

                <a th:href="${'/productjson/' + product.id}">Json</a>
            </div>

            
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
<!--/*/ <th:block th:include="fragments/js :: js"></th:block> /*/-->

</body>
</html>