<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head lang="en">

    <title>Iron Altar Urzytkownicy</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="container">

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">

            </div>
           <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
        </div>
    </div>


    <div>

        <form th:action="@{/logout}" method="get">
            <button class="btn btn-md btn-danger btn-block" name="registration"
                    type="Submit">Wyloguj</button>
        </form>
        <br>
        <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/admin/products}" method="get">
            <button class="btn btn-md btn-danger btn-block" name="products"
                    type="Submit">Produkty administracja</button>
        </form>

    </div>

</div>




<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
<!--/*/ <th:block th:include="fragments/js :: js"></th:block> /*/-->

</body>
</html>