<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">

    <title>Iron Altar Urzytkownicy</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="container-fluid">
    <div class="row">
        <div   class="col-md-12">

            <table  class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>STATUS</th>
                    <th>Email</th>
                    <th>Nazwa użytkownika</th>
                    <th>Hasło</th>
                </tr>
                </thead>
                <tbody th:each="user : ${users}">
                <tr>
                    <td th:text="${user.userId}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.password}"></td>
                </tr>
                </tbody>
            </table>






        </div>
    </div>
</div>




<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
<!--/*/ <th:block th:include="fragments/js :: js"></th:block> /*/-->

</body>
</html>